@font-face {
    font-family: 'robotoblack';
    src: url(../fonts/roboto-black-webfont.woff2) format('woff2'),
         url(../fonts/roboto-black-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url(../fonts/roboto-bold-webfont.woff2) format('woff2'),
         url(../fonts/roboto-bold-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url(../fonts/roboto-light-webfont.woff2) format('woff2'),
         url(../fonts/roboto-light-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url(../fonts/roboto-medium-webfont.woff2) format('woff2'),
         url(../fonts/roboto-medium-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url(../fonts/roboto-regular-webfont.woff2) format('woff2'),
         url(../fonts/roboto-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-width: 1100px;
    margin: 0;
    padding: 0;
    font-family: "robotoregular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #000;
}
a {
    text-decoration: none;
}
.slider-imitator {
    padding-bottom: 70px;
    text-align: center;
}
.header {
    min-height: 800;
    background-color: #ffffff;
}
.slider_item {
    margin-top: 132px;
    display: flex;
    padding-top: 166px;
    justify-content: space-between;
    min-height: 564px;
    width: 1100px;
    background:url('../img/running-shoes.png') no-repeat right center;
}
.slider__text {
    font-size: 30px;
}
.slider_big-text {
    font-family: "robotobold", "Arial", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 55px;
    text-transform: uppercase;
}
.button {
    display: block;
    width: 240px;
    padding: 22px 0;
    text-align: center;
    background-color: #d7b399;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}
.slider_item-price {
    font-family: "montserratbold", "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.slider_item--old {
    font-size: 24px;
    text-decoration-line: line-through;
}
.slider_price--new {
    font-size: 42px;
    color: #d84033;
}
.header-menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    min-height: 90px;
    background-color: #F9F6F1;
}
.container {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.mainmenu_list li {
    margin: 20px; 
}
.basket_list li {
    margin: 20px;
}
.menu-link {
    text-decoration: none;
    color: black;
}
.mainmenu_item {
    color: black;
}   
.annoying {
    margin-top: 10px;
}
.basket_item {
    margin-left: 0px;
}
.slider__button {
    position: absolute;
    top: 50%;
}
.slider__button--prev {
    left:-100px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0) solid 1px;
}
.slider__button--next {
    right:-100px;
    background-color: rgba(0, 0, 0, 0);
    border: rgba(0, 0, 0, 0) solid 1px;
}
.annoying2 {
    margin-left: 50px;
}
.slider__big-text {
    font-family: "robotobold", sans-serif;
    font-size: 55px;
}
.slider__wrapper {
    position: relative;
}
.dress__wrapper {
    flex-wrap: wrap;
}
.dress__item {
    font-family: "robotolight";
    font-size: 21px;
    text-transform: uppercase;
    position: relative;
    width: 277px;
    height: 236px;
    text-align: right;
    padding-bottom: 24px;
}

.dress__item--gray {
    background-color: #F4F4F4;
}
.dress__item--cream {
    background-color: #F9f6F1;
}
.delivery {
    background-color: #212121;
    color: white;
    height: 239px;
    flex-direction: column;
    text-align: center;
    padding: 60px;
}
.small__delivery--span {
    font-family: "robotolight";
    font-size: 30px;
}
.large__delivery {
    font-family: "robotobold";
    font-size: 30px;
}
.small__delivery {
    font-family: "robotolight";
    font-size: 21px;
}
.discount {
    background-color: #212121;
    color: white;
    height: 180px;
    flex-direction: row;
    text-align: center;
    padding: 60px;
}
.discount_email {
    padding-left: 20px;
    width: 225px;
    height: 40px;
    font-family: "robotolight";
    color: #8d8d8d;
    background-color: #F9F6F1;
    border: none;
    font-size: 12px;
}
.card_img {
    margin-left: 30px;
}
.discount_submit {
    color: #F9F6F1;
    background-color: #d7b399;
    text-transform: uppercase;
    border: none;
    width: 185px;
    height: 40px;
}
.men__sect {
    margin-top: 35px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}
.text_m_1 {
    font-family: "robotomedium";
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 20px;
}
.text_m_2 {
    font-family: "robotolight";
    font-size: 16px;
    margin-right: 20px;
}
.lower_span {
    font-family: "robotolight";
    font-size: 24px;
    text-transform: uppercase;
}
.cards {
    display: flex;
}
.section__new-models {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 150px;
}
.button_model {
    margin-top: 100px;
}
.new_models_h {
    margin-bottom: 100px;
    font-family: "robotobold";
    text-transform: uppercase;
    color: #212121;
    font-size: 36px;
}

.mainmenu_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.basket_list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer {
    background-color: #212121;
    color: white;
    height: 311px;
    flex-direction: row;
    text-align: center;
    padding: 60px;
}
.column {
    display: flex;
    flex-direction: column;
    height: 178px;
}
.footer_nav_h {
    font-family: "robotobold";
    font-size: 10px;
    text-transform: uppercase;
}
.mass_footer_text {
    font-family: "robotoregular";
}
.column a {
    font-family: "robotoregular";
    color: #cbcfd4;
    font-size: 14px;
}
.column-1 {
    text-align: left;
}
.column-3 {
    text-align: left;
}
.column-4 {
    text-align: left;
}
.column-5 {
    text-align: left;
}
.column_list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}
.column-5 img {
    width: 17px;
    height: 17px;
    margin-right: 6px;
    padding-top: 5px;
}
.column_list li {
    margin-bottom: 10px;
}
.section_copyright {
    display: flex;
    justify-content: space-around;
}
.section_copyright p {
    font-family: "robotoregular";
    font-size: 14px;
    color: #212121;
}
